body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:14px;
  width:85px;
  height:16px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:10px;
  width:300px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:5px;
  width:300px;
  height:36px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:144px;
  width:57px;
  height:16px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:133px;
  width:306px;
  height:39px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:141px;
  width:275px;
  height:23px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:86px;
  width:49px;
  height:1px;
  font-size:20px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-12px;
  width:45px;
  white-space:nowrap;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:11px;
  width:261px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:230px;
  width:57px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
